*.sln.DotSettings.user
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/

.vs/
.idea/

*.rider.project.model.nuget.info
*.sln.iml
rider.module.iml

*.cache
*.info
*.config
project.lock.json
project.assets.json
*.nupkg

*.db
*.db-journal