# Папки с результатами сборки
**/bin/
**/obj/

# Пользовательские файлы и настройки IDE
*.user
*.suo
*.sln.docstates
.vs/
.idea
*.cache
*.info
*.config


# Настройки Rider
.idea/
*.sln.iml
*.rider.project.model.nuget.info
rider.module.iml

# Другие служебные файлы
project.lock.json
project.assets.json