@using Microsoft.AspNetCore.Components.Web
@namespace SMMTracker.WebUI.Pages  
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru"> 
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <title>SMMTracker</title> 
    
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet" />
    <link href="SMMTracker.WebUI.styles.css" rel="stylesheet" />  
    
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Произошла ошибка. Приложение может не отвечать до перезагрузки.
    </environment>
    <environment include="Development">
        Произошла необработанная ошибка. Подробности в инструментах разработчика.
    </environment>
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="js/telegramLogin.js"></script>
</body>
</html>